<div class="main">
    <div class="content">
        <ng-content></ng-content>
    </div>
    <mat-spinner 
        class="spinner"
        color = 'accent' 
        [diameter] = 'diameter'
        [strokeWidth] = '3'
    ></mat-spinner>
</div>
