<div class="main">
    <mat-form-field appearance="fill" class="control">
        <mat-label>{{label}}</mat-label>
        <mat-select
            [placeholder] = 'placeholder'
            [disabled] = 'disabled'
            [errorStateMatcher] = 'errorMatcher'
            [ngModel] = 'value'
            (ngModelChange) = 'setValue($event)'
        >
            <mat-option 
                *ngFor = 'let opt of options' 
                [value]="opt[bindValue]"
                [disabled] = 'disabledOptFn ? disabledOptFn(opt) : null'
            >
                <span
                    [ngStyle] = 'getOptionsStyle ? getOptionsStyle(opt) : null'
                >
                    {{ opt[bindTitle] }}
                </span> 
            </mat-option>
        </mat-select>
        <mat-hint align='start' *ngIf = 'customHint'>
            <ng-content></ng-content>
        </mat-hint>
        <mat-error *ngIf = 'ngControl?.errors'>
            <mat-error *ngFor = 'let error of ngControl.errors | keyvalue'>
                {{ getErrorMessage(error) }}
            </mat-error>
        </mat-error>
    </mat-form-field>
</div>

