:host {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .border {
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: .3s all ease;

        &-item {
            transition: .3s all ease;
        }
    }

    .content {
        width: 100%;
    }
}