<div class="main">
    <div class="border" >
        <div class="border-item" [ngStyle] = 'getBorderItemStyles("top-left")'></div>
        <div class="border-item" [ngStyle] = 'getBorderItemStyles("top-right")'></div>
    </div>
    <div class="content" [style.padding]="offset">
        <ng-content></ng-content>
    </div>
    <div class="border">
        <div class="border-item" [ngStyle] = 'getBorderItemStyles("bottom-left")'></div>
        <div class="border-item" [ngStyle] = 'getBorderItemStyles("bottom-right")'></div>
    </div>
</div>
