<nav class="nav">
    <ul class="nav__list">
        <li 
            *ngFor = 'let opt of options;trackBy:trackByFn;'
            class="nav__list-option"
            [class.active] = 'isCurrentPage(opt.link)'
            (click) = 'navigate(opt)'
        >
            <span class="nav__list-option-icon material-icons">{{ opt.icon }}</span>
            <span class="nav__list-option-title">{{ opt.title }}</span>
        </li>
    </ul>
</nav>