@import 'styles.scss';

.nav {
    transform: translateY(2px);

    &__list {
        display: flex;
            
        &-option {
            display: flex;
            align-items: center;
            padding: 1rem 1.5rem;
            border-radius: $radius;
            cursor: pointer;
            font-family: $amatic;
            letter-spacing: 3px;
            font-size: 1.2rem;
            font-weight: 800;
            user-select: none;
            @include gradient-font($facebook);

            &-icon {
                margin-right: .5rem;
            }
        }
    }
}

.active {
    @include gradient-border($dp-border-active, 3px);
    @include gradient-font($orange);
}