<div class="main">
    <ng-container *ngTemplateOutlet = 'intefaceTpl'></ng-container>
    <div class="content container">
        <dp-system-page-title [title] = 'getTitle()'></dp-system-page-title>
        <div class="outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<ng-template #intefaceTpl>
    <dp-scroll-arrow></dp-scroll-arrow>
    <dp-circle-nav [options] = 'circleMenuItems'></dp-circle-nav>
</ng-template>


