/* You can add global styles to this file, and also import other style files */
@import './assets/scss/shorts.scss';
@import './assets/scss/animations.scss';
@import './assets/scss/fonts.scss';
@import './assets/scss/variables.scss';
@import './assets/scss/mixins.scss';
@import './assets/scss/shared.scss';

* { 
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    background: $clouds;
}

