<div 
    class="main" 
    *ngIf = 'isShow' 
    @ANShowScale
    matTooltip = 'Подняться вверх'
    matTooltipPosition = 'before'
    (click) = 'scrollToStartPage()'
>
    <i class="material-icons">keyboard_arrow_up</i>
</div>
