@import 'styles.scss';

.main {
    position: fixed;
    top: $toolbar-height + 15px;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: radial-gradient(circle at 65% 15%, aqua, darkblue);
    transition: background-color .3s linear, box-shadow .3s ease-in;

    &:hover {
        background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
        box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
    }

    i {
        @include gradient-font($clouds)
    }
}