<div class="main">
    <mat-form-field appearance="fill" class="control">
        <mat-label>{{ label }}</mat-label>
        <input 
            matInput 
            autocomplete="off"
            [placeholder]="placeholder"
            [errorStateMatcher]="errorMatcher"
            [minlength] = 'minlength'
            [maxlength] = 'maxlength'
            [type]="type" 
            [ngModel] = 'value'
            (ngModelChange) = 'setValue($event)'
        >
        <i 
            *ngIf = 'hideHint'
            class="material-icons pointer" 
            matSuffix 
            (click) = 'setHideState()'
        >
            {{hide ? 'visibility_off' : 'visibility'}}
        </i>
        <mat-hint align ='end' *ngIf = 'lengthHint'>
            {{ value?.length || 0 }} / {{ maxlength }}
        </mat-hint>
        <mat-hint align ='start' *ngIf = 'customHint'>
            <ng-content></ng-content>
        </mat-hint>
        <mat-error *ngIf = 'ngControl?.errors'>
            <mat-error *ngFor = 'let error of ngControl.errors | keyvalue'>
                {{ getErrorMessage(error) }}
            </mat-error>
        </mat-error>
    </mat-form-field>
</div>
