@import 'styles.scss';

.main {
    width: 100%;

    .btn {
        width: 100%;
        text-align: center;
    
        &:hover:not(:disabled) {
            background: #000;
        }
    
        &:disabled {
            background: rgba(229, 229, 229, .5) !important;
            color: rgba(0, 0 ,0, .5) !important;
            cursor: not-allowed;
        }
    
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
    
            .text {
                
            }
    
            .spinner {
                margin-left: 10px;
                width: 30px;
            }
        }
    }
}

