<div class="main"
    (mouseenter) = 'hoverHandler(true)'
    (mouseleave) = 'hoverHandler(false)'
>
    <button 
        mat-raised-button 
        class="btn" 
        [ngStyle] = 'getBtnBgColor()'
        [type] = 'type'
        [disabled] = 'disabled'
        (click) = 'action()'
    >
        <div class="content">
            <span class="text">
                {{ text }}
            </span>
            <mat-spinner 
                *ngIf = 'showLoader' 
                class="spinner"
                color = 'accent' 
                [diameter] = '25'
                [strokeWidth] = '3'
            ></mat-spinner>
        </div>
    </button>
</div>
