<li class="item">
    <div class="item-box" 
        *ngFor = 'let opt of options'
        [ngClass] = 'getClass("item-box", opt)'
    >
        <span class="item-box-title" [ngClass] = 'getClass("item-box-title", opt)'> {{ opt.title }}: </span>
        <span class="item-box-value" 
            [ngSwitch] = 'opt.type'
            [ngStyle] = 'opt?.state?.styles'
            [ngClass] = 'getClass("item-box-value", opt)'
        >
            <ng-container *ngSwitchCase = '"date"'> {{ opt.value | date:'medium':null:'ru' | titlecase }} </ng-container>
            <ng-container *ngSwitchDefault>{{ opt.value }}</ng-container>
        </span>
    </div>
</li>
