@import 'styles.scss';

:host {
    width: 100%;
    margin: 1rem 0;
    width: calc(33.3% - 1rem);
    min-width: 300px;
    @include box-shadow();
    background: $clouds;
    border-radius: $radius;
    margin: .5rem;

    @media (max-width: 680px) {
        width: calc(70% - 1rem);
    }
}

.item {
    padding: 1rem;

    &-box {
        padding: .5rem 0;

        &-title {
            font-size: 1.1rem;
            font-family: $spectral;
            padding-right: 1rem;
            @include gradient-font($terminal);

            // &_description {
            //     color: lightseagreen
            // }
        }

        &-value {
            font-family: $underdog;
            font-size: 0.9rem;
            color: $primary;

            &.active {
                @include gradient-font($facebook);
            }

            &.less {
                color: floralwhite;
                text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 0px black, 0 0 7px black, 0 0 0px black, 0 0 0px black;
            }

            &_description {
                @include gradient-font($lizard);
            }

            &_status, &_priority {
                letter-spacing: 2px;
            }

            &_priority {
                font-weight: bold;
            }
        }
    }
}