<div class="main">
    <h1 class="header">Время</h1>
    <div class="content">
        <div class="control">
            <div class="actions">
                <button 
                    class="actions-btn"
                    type = 'button'
                    matTooltipPosition = 'before'
                    [matTooltip] = 'getTooltip("inc")'
                    [disabled] = 'disabled'
                    (click) = 'step("hours", "inc")'
                >
                    <span 
                        class="material-icons icon-arrow"
                    >
                        keyboard_arrow_up
                    </span>
                </button>
                <button 
                    class="actions-btn"
                    type = 'button'
                    matTooltipPosition = 'before'
                    [matTooltip] = 'getTooltip("dec")'
                    [disabled] = 'disabled'
                    (click) = 'step("hours", "dec")'
                >
                    <span 
                        class="material-icons icon-arrow"
                    >
                        keyboard_arrow_down
                    </span>
                </button>
            </div>
            <div class="control-box">
                <span class="label">Часы</span>
                <input 
                    class="input"
                    readonly
                    type="number"
                    min='0'
                    max='23'
                    placeholder="Часы" 
                    [disabled] = 'disabled'
                    [ngModel] = 'getValue("hours")'
                    (mousewheel) = 'wheel($event, "hours")'
                    (ngModelChange) = 'setValue($event, "hours")'
                >
            </div>
        </div>
        <div class="separate">:</div>
        <div class="control">
            <div class="control-box">
                <span class="label">Минуты</span>
                <input 
                    class="input"
                    matInput 
                    readonly
                    type= 'number'
                    min='0'
                    max='59'
                    placeholder="Минуты" 
                    [disabled] = 'disabled'
                    [ngModel] = 'getValue("minutes")'
                    (mousewheel) = 'wheel($event, "minutes")'
                    (ngModelChange) = 'setValue($event, "minutes")'
                    >
                </div>
            <div class="actions">
                <button 
                    class="actions-btn"
                    type = 'button'
                    matTooltipPosition = 'after'
                    [matTooltip] = 'getTooltip("inc")'
                    [disabled] = 'disabled'
                    (click) = 'step("minutes", "inc")'
                >
                    <span 
                        class="material-icons icon-arrow"
                    >
                        keyboard_arrow_up
                    </span>
                </button>
                <button 
                    class="actions-btn"
                    type = 'button'
                    matTooltipPosition = 'after'
                    [matTooltip] = 'getTooltip("dec")'
                    [disabled] = 'disabled'
                    (click) = 'step("minutes", "dec")'
                >
                    <span 
                        class="material-icons icon-arrow"
                    >
                        keyboard_arrow_down
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="errors-container" >
        <ng-container *ngIf = 'ngControl?.errors'>
            <p 
            *ngFor = 'let error of ngControl.errors | keyvalue | slice:0:1'
            class="error-message"
        >{{getErrorMessage(error)}}</p>
        </ng-container>
    </div>
</div>
