@import 'styles.scss';

:host {
    width: 100%;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .header {
        font-family: $jost;
        margin: 0;
        font-weight: bold;
        @include gradient-font($hour);
    }

    .content {
        display: flex;
        align-items: center;

        .control {
            display: flex;
            align-items: center;
            user-select: none;
    
            &-box {
                display: flex;
                flex-direction: column;
    
                &:nth-child(1) {
                    margin-right: 1rem;
                }
    
                &:nth-child(2) {
                    margin-left: 1rem;
                }
    
                .label {
                    padding-bottom: .5rem;
                    color: rgba(0,0,0,.54);
                    font-size: 0.8rem;
                    text-align: center;
                }
        
                .input {
                    padding: .6rem;
                    padding-left: 1.3rem;
                    text-align: center;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    background: $clouds;
                    @extend .box-shadow;

                    &:disabled {
                        color: gray;
                        background: #e5e5e5;
                    }
                }
            }
    
            .actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: .3rem;
    
                &-btn {
                    @extend .reset-button;
                    @extend .box-shadow;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: $clouds;
                    font-size: 1rem;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    transition: box-shadow .3s linear, transform .3s linear;
    
                    &:nth-child(1) {
                        margin-bottom: .5rem;
                    }
        
                    span {
                        font-size: 1.2rem;
                    }
    
                    &:hover:not(:disabled){
                        transform: scale(1.1);
                    }

                    &:hover:not(:disabled) > span {
                        @include gradient-font($orange);
                    }
    
                    &:active:not(:disabled) {
                        transform: scale(.7);
                        @include box-shadow(rgb(255, 196, 0), rgb(0, 255, 76))
                    }
    
                    &:active:not(:disabled) > span {
                        transform: scale(.8);
                        @include gradient-font($orange);
                    }
    
                    &:disabled {
                        cursor: default;
                        box-shadow: none;
                        background: #e5e5e5;
                    }
                }
            }
        }
    
        .separate {
            font-size: 3rem;
            font-weight: bold;
            margin: 0 1rem;
            padding-top: 1rem;
            color: $primary;
        }
    }

    
}