<ul class="menu">
    <li 
        class="menu__main-item" 
        matTooltip = 'На главную'
        matTooltipPosition = 'before'
        (click) = 'navigate("/dayli-planner")'
    >
        <div class="item-circle">
            <i class="material-icons">widgets</i>
        </div>
    </li>
    <li 
        *ngFor = 'let opt of options;trackBy:trackByFn'
        class="menu__list-item"
    >
        <div 
            class="item-circle"
            matTooltipPosition = 'before'
            [matTooltip] = 'opt.title'
            (click) = 'navigate(opt.link)'
            [style.background] = 'opt.state.bg'
        >
            <i class="material-icons"> {{ opt.icon }}</i>
        </div>
    </li>
</ul>

