@import 'styles.scss';

.menu {
    position: fixed;
    bottom: 2.5rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    z-index: 3;

    @for $i from 1 through 3 {
        &:hover > &__list-item:nth-child(#{$i}) {
            transform: translateX(-50%) translateY(-80% * $i);
        }
    }

    &__main-item, &__list-item {
        transition: 
            box-shadow .3s linear, 
            transform .3s linear, 
            background .3s linear;
        

        .item-circle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            outline: none;
            border: none;
            text-decoration: none;
            cursor: pointer;
            @extend .box-shadow;

            &:hover {
                background: $orange;
                box-shadow: 0 0px 6px rgb(255, 196, 0), 0 3px 17px rgb(251, 255, 0);
            }
    
            i {
                @include gradient-font($clouds);
            }
        }
    }

    &__main-item {
        position: relative;
        z-index: 2;

        .item-circle { 
            font-size: 2rem;
            background: lightseagreen;
            width: 50px;
            height: 50px;

            i {
           
            }
        }
    }

    &__list-item {
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        transition: transform .3s linear;

        .item-circle {
            margin: auto;
            font-size: 1.5rem;
            height: 35px;
            width: 35px;
            font-size: 1.5rem;
            margin: 10px 0;

            i {

            }
        }
    }
}