@import 'styles.scss';

.badge {
    display: flex;
    background: $blush;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: .7rem;
    cursor: pointer;
    animation: an-scale .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &-text {
        margin: auto;
        font-weight: bold;
        font-family: $baloo;
        @include gradient-font($clouds);
    }
}