<div class="main"
    dpPageBreak
    [disabled] = 'flags.isFetch || flags.isExpand'
    (end) = 'expand()'
>
    <div class="content">
        <dp-history-filter
            [show] = 'flags.isShowFilter'
            [loading] = 'flags.isFetch'
            [filter] = 'state.filter'
            [priorityOptions] = 'priorityOptions'
            [priorityColors] = 'priorityColors'
            [statusOptions] = 'statusOptions'
            [statusColors] = 'statusColors'
            (showFilter) = 'showFilter($event)'
            (submit) = 'filter($event)'
        ></dp-history-filter>
        <dp-history-list
            [notes] = 'notes$ | async'
            [loading] = 'flags.isFetch'
            [expand] = 'flags.isExpand'
        ></dp-history-list>
    </div>
</div>
