@import 'styles.scss';

.auth {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $heart;
        border-radius: $radius;
        margin: $offset;
        padding: 1.7rem 1.5rem;
        overflow: hidden;
        @extend .box-shadow;

        .header {
            margin-top: .3rem;
            font-size: 1.5rem;
            padding: .3rem 0 2rem;
            font-family: $jost;
            @include gradient-font($midnight);
        }

    }
}