<section class="main">
    <div class="container auth">
        <div class="content">
            <p class="header" [@ANScaleState] = 'router.url'> {{ getHeaderText() }} </p>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

