@mixin gradient-font($color) {
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-border($color, $width: 1px) {
    border: $width solid transparent;
    border-image: $color;
    border-image-slice: 1;  
}

@mixin host-center($maxW: 600px, $minW: 280px, $w: 100%) {
    width: $w;
    max-width: $maxW;
    min-width: $minW;
}

@mixin gradient-all($color, $b-color, $b-width: 1px) {
    @include gradient-font($color);
    @include gradient-border($b-color, $b-width);
}

@mixin box-shadow($first-color: rgba(0,0,0,0.25), $last-color: rgba(0,0,0,0.22)) {
    box-shadow: 0 14px 28px $first-color, 0 10px 10px $last-color;
}