//colors

$main-theme: linear-gradient(to right, rgb(106, 48, 147), rgb(160, 68, 255));
$blush: linear-gradient(to right, rgb(178, 69, 146), rgb(241, 95, 121));
$amin: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
$orange: linear-gradient(to right, rgb(192, 36, 37), rgb(240, 203, 53));
$kyoto: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
$hour: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
$sin-city: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30));
$netflix: linear-gradient(to right, rgb(142, 14, 0), rgb(31, 28, 24));
$knight: linear-gradient(to right, rgb(186, 139, 2), rgb(24, 24, 24));
$sky: linear-gradient(to right, rgb(0, 92, 151), rgb(54, 55, 149));
$lizard: linear-gradient(to right, rgb(48, 67, 82), rgb(215, 210, 204));
$portrait: linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
$toad: linear-gradient(to right, rgb(171, 186, 171), rgb(255, 255, 255));
$martini: linear-gradient(to right, rgb(253, 252, 71), rgb(36, 254, 65));
$facebook: linear-gradient(to right, rgb(0, 198, 255), rgb(0, 114, 255));
$aqua: linear-gradient(to right, rgb(80, 201, 195), rgb(150, 222, 218));
$moss: linear-gradient(to right, rgb(19, 78, 94), rgb(113, 178, 128));
$peach: linear-gradient(to right, rgb(237, 66, 100), rgb(255, 237, 188));
$heart: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220));
$midnight: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
$deep: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
$nighthawk: linear-gradient(to right, rgb(41, 128, 185), rgb(44, 62, 80));
$haikus: linear-gradient(to right, rgb(253, 116, 108), rgb(255, 144, 104));
$behongo: linear-gradient(to right, rgb(82, 194, 52), rgb(6, 23, 0));
$terminal: linear-gradient(to right, rgb(0, 0, 0), rgb(15, 155, 15));
$clouds: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
$zinc: linear-gradient(to right, rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));
$margo: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
$primary: #3f51b5;

//z-index's

$toolbar-z: 2;

//sizes
$toolbar-height: 50px;

//offsets
$offset: 20px;
$min-width: 280px;


//shared
$radius: 8px;

//dayli-planner
$dp-border-active: linear-gradient(to top, rgb(0, 198, 255), rgb(0, 114, 255));