@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes an-ladder-x {
    to {
        transform: translateX(0);
    }
}

@keyframes an-ladder-y {
    to {
        transform: translateY(0);
    }
}

@keyframes an-scale {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}