@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Baloo+2&family=Indie+Flower&family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Spectral+SC&display=swap');

$amatic: 'Amatic SC', cursive;
$neucha: 'Neucha', cursive;
$spectral: 'Spectral SC', serif;
$jost: 'Jost', sans-serif;
$baloo: 'Baloo 2', cursive;
$flower: 'Indie Flower', cursive;
$underdog: 'Underdog', cursive;
$stl: 'Stalinist One', cursive;