
.main {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.close-icon {
    @include gradient-font($clouds);
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    transition: background .3s linear, transform .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &:hover {
        transform: rotate(360deg) scale(1.1);
        @include gradient-font($kyoto);
    }
}

.pointer {
    cursor: pointer;
}

.progress {
    width: 100%;
    margin: 2rem 0;
    height: 4px;
    padding: 0 2rem;

    &-row {
        width: 100%;
    }
}

.reset-button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    outline: none;
}

.empty-message {
    width: 100%;
    font-family: $stl;
    font-size: .7rem;
    letter-spacing: 2px;
    text-align: center;
    @include gradient-font($hour);
}

.errors-container {
    display: flex;
    flex-direction: column;
    padding-top: .3rem;
    height: 20px;

    p {
        padding: .3rem 0;
    }
}

.error-message, .spinner-message  {
    margin: 0;
    font-size: 11px;
    animation: fade .3s linear;
}

.error-message {
    color: #f44336;
}

.archive-message {
    font-family: $spectral;
    @include gradient-font(linear-gradient(to right, rgb(48, 67, 82), rgb(167, 162, 157)));
}

.spinner-message {
    color: rgb(255, 118, 55);
}

.icon {
    @include gradient-font($facebook);
    cursor: pointer;

    &:hover:not(.disabled) {
        @include gradient-font($orange);
    }

    &.disabled {
        cursor: not-allowed;
        @include gradient-font($lizard);
    }
}

.spinner {
    display: flex;
    justify-content: center;
}