.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pb-05 {
    padding-bottom: .5rem;
}

.p-x-05 {
    padding: 0 0.5rem;
}

.p-x-1 {
    padding: 0 1rem;
}
.p-x-2 {
    padding: 0 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}