<div class="main">
    <div class="content" *ngIf = '!loading;else preloader'>
        <ng-container *ngIf = 'notes.rows.length;else emptyTpl'>
            <ul class="list" @ANParent>
                <dp-history-note 
                    *ngFor = 'let note of notes.rows;trackBy:trackByFn'
                    @ANShowScale
                    [note] = 'completeNote(note)'
                >
                </dp-history-note>
            </ul>
            <div class="progress" *ngIf = 'expand'>
                <mat-progress-bar class="progress-row"  mode="indeterminate"></mat-progress-bar>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #preloader>
    <mat-spinner></mat-spinner>
</ng-template>

<ng-template #emptyTpl>
    <p class="empty-message">Список заметок пуст</p>
</ng-template>
