@import 'styles.scss';

.main {
    display: flex;
    justify-content: center;

    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;

        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 -0.5rem;

            @media (max-width: 996px) {
                justify-content: center;
            }
        }
    }
}