<div class="main">
    <div class="blur"></div>
    <div class="content">
        <p class="message"> {{ getText() }} </p>
        <div class="actions">
            <button 
                mat-raised-button
                class="btn"
                [disabled] = 'loading'
                (click) = 'action(false)'
            >
                Отмена
            </button>
            <dp-form-submit-btn
                class="btn"
                type = 'button'
                text = 'Подтвердить'
                [disabled] = 'loading'
                [showLoader] ='loading'
                (action) = 'action(true)'
            ></dp-form-submit-btn>
        </div>
    </div>
</div>
