@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: hidden;

    .blur {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: radial-gradient(white, transparent);
        animation: fade .4s linear;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 1rem;
        width: 100%;
        max-width: 600px;
        background: $margo;
        border-radius: $radius;
        transform: translateY(100%);
        animation: an-ladder-y .6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        @extend .box-shadow;

        .message {
            font-family: $neucha;
            letter-spacing: 1px;
            font-weight: bold;
            @include gradient-font($hour);
        }

        .actions {
            display: flex;
            padding-top: 3rem;
            align-self: flex-end;

            .btn:last-child {
                margin-left: 1rem;
            }

        }
    }
}