@import 'styles.scss';

.main {

    .content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .filter {
            flex-grow: 1;
            overflow: hidden;
            padding-bottom: 1rem;

            .form {
                display: flex;
                flex-direction: column;
                width: 100%;

                .form-body {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-wrap: wrap;


                    .group {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        &:last-child {
                            width: 100%;
                        }

                        &-label {
                            padding: 1rem 0;
                            font-size: 1.3rem;
                            font-family: $baloo;
                            @include gradient-font($facebook);
                            
                        }

                        &-controls {

                            &-box {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                margin: 0 -0.5rem;

                                &-item {
                                    flex-grow: 1;
                                    margin: 0 .5rem;
                                }

                                
                                .radio {
                                        
                                    &-btn {
                                        margin-right: 1rem;

                                        &-title {
                                            font-family: $spectral;
                                            @include gradient-font($behongo);

                                            &.active {
                                                @include gradient-font($orange);
                                            }
                                        }
                                    }
                                }
                            }
                        }


                    }
                }

                .actions {
                    display: flex;
                    padding-top: 1.5rem;
                    align-self: flex-end;

                    &-btn {

                        &:first-child {
                            margin-right: .7rem;
                            padding: 0 1rem;
                        }

                    }
                }

            }
        }

        .nav {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .nav-icon {
                font-size: 1.7rem;

                &.active {
                    @include gradient-font($terminal);
                }
            }
        }
    }
}