<div class="main">
    <div class="content">
        <div class="nav">
            <i 
                class="material-icons nav-icon icon"
                matTooltipPosition = 'before'
                [matTooltip] = 'getFilterTooltip()'
                [class.active] = 'false'
                (click) = 'setShowState()'
            >filter_list</i>
        </div>
        <div class="filter" [@ANHeight] = 'getShowState()'>
            <form 
                class="form" 
                [formGroup] = 'form'
            >
            <div class="form-body">
                <div class="group">
                    <p class="group-label">Сортировать по:</p>
                    <div class="group-controls">
                        <div class="group-controls-box">
                            <mat-radio-group 
                                aria-label="Select an option" 
                                class="group-controls-box-item radio"
                                formControlName = 'SortField'
                                (change) = 'formTouched()'
                            >
                                <mat-radio-button class="radio-btn" value="Priority">
                                    <span class="radio-btn-title" [class.active] = 'isActive("SortField", "Priority")'>Приоритету</span>
                                </mat-radio-button>
                                <mat-radio-button class="radio-btn" value="DateInt">
                                    <span class="radio-btn-title" [class.active] = 'isActive("SortField", "DateInt")'>Дате</span>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <p class="group-label">Направление по:</p>
                    <div class="group-controls">
                        <div class="group-controls-box">
                            <mat-radio-group 
                                aria-label="Select an option" 
                                class="group-controls-box-item radio"
                                formControlName = 'Direction'
                                (change) = 'formTouched()'
                            >
                                <mat-radio-button class="radio-btn" [value]="1">
                                    <span class="radio-btn-title" [class.active] = 'isActive("Direction", 1)'>Возрастанию</span>
                                </mat-radio-button>
                                <mat-radio-button class="radio-btn" [value]="-1">
                                    <span class="radio-btn-title" [class.active] = 'isActive("Direction", -1)'>Убыванию</span>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <p class="group-label">Искать по:</p>
                    <div class="group-controls">
                        <div class="group-controls-box">
                            <dp-form-input 
                                class="group-controls-box-item"
                                formControlName = 'Title'
                                label = 'Название'
                                placeholder = 'Введите название заметки'
                                [maxlength] = '20'
                                [lengthHint] = 'true'
                            ></dp-form-input>
                            <dp-form-input 
                                class="group-controls-box-item"
                                formControlName = 'Description'
                                label = 'Описание'
                                placeholder = 'Введите описание заметки'
                                [maxlength] = '20'
                                [lengthHint] = 'true'
                            ></dp-form-input>
                            <dp-form-select 
                                class="group-controls-box-item"
                                formControlName = 'Priority'
                                label = 'Приоритет'
                                placeholder = 'Выберите приоритет заметки'
                                [options] = 'priorityOptions'
                                [getOptionsStyle] = 'getPriorytyStyles'
                            ></dp-form-select>
                            <dp-form-select 
                                class="group-controls-box-item"
                                formControlName = 'Status'
                                label = 'Статус'
                                placeholder = 'Выберите статус заметки'
                                [options] = 'statusOptions'
                                [getOptionsStyle] = 'getStatusStyles'
                            ></dp-form-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button 
                    mat-raised-button
                    class="actions-btn"
                    type="button"
                    [disabled] = 'disabledAction("reset")'
                    (click) = 'reset()'
                >Сбросить</button>
                <dp-form-submit-btn
                    class="actions-btn"
                    type = 'button'
                    text = 'Применить'
                    [disabled] = 'disabledAction("submit")'
                    [showLoader] = 'loading'
                    (action) = 'submit()'
                ></dp-form-submit-btn>
            </div>
            </form>
        </div>
    </div>
</div>
