@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: $radius;
    overflow-y: hidden;
    transition: box-shadow .3s linear, margin-bottom .2s ease-in;

    .date {
        display: flex;
        align-items: center;
        flex-basis: 250px;

        &-text {
            margin-right: 1rem;
            letter-spacing: 1px;
            @include gradient-font($main-theme);
        }

        .trigger {
            display: flex;
            padding: 1.5rem 0;
            align-items: center;
            overflow: hidden;
            letter-spacing: 2px; 
            cursor: pointer;
            user-select: none;
            font-family: $amatic;
    
            &-text {
                @include gradient-font($terminal);
                padding-right: 1rem;
            }
    
            &-icon {
                @include gradient-font($terminal);
                transition: transform .3s ease-in;
    
                &-rotate {
                    transform: rotate(-180deg);
                }
            }
        }
    
        .trigger:hover > .trigger-text {
            @include gradient-font($orange);
        }
    
        .trigger:hover > .trigger-icon {
            @include gradient-font($orange);
        }
    }

    .panel:not(.panel-show) {
        transform: translateY(100%);
    }

    .panel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-left: -0.3rem;
        transition: transform .3s ease-in;

        &-show {
            transform: translateY(0%);
        }

        &__option {
            display: flex;
            align-items: center;
            padding: 0 .3rem;

            .arrow-btn {
                display: flex;
                padding: 0;
                margin: 0 .3rem;
                border-radius: 50%;
                border: none;
                outline: none;
                background: transparent;
                transition: transform .2s linear, color .2s ease-in;

                &:hover:not(:disabled) {
                    transform: scale(1.1);
                    @include box-shadow(rgb(243, 76, 47), rgb(226, 142, 127));
                    @include gradient-font($hour);
                }

                &:active:not(:disabled) {
                    transform: scale(.9);
                    @include box-shadow(rgb(255, 255, 0), rgb(78, 78, 29));
                    @include gradient-font($knight);
                    
                }

                .arrow {
                    @include gradient-font($amin);
                    cursor: pointer;
                    user-select: none;
                    font-size: 2rem;
                }

                &:disabled > .arrow {
                    box-shadow: none;
                    cursor: not-allowed;
                    @include gradient-font($lizard);
                }
            }

            .title {
                padding-right: .5rem;
                @include gradient-font($terminal);
            }

            .value {
                cursor: pointer;
                @include gradient-font($facebook);

                &:hover {
                    @include gradient-font($orange); 
                }
            }

            &:nth-child(2) > .value {
                width: 65px;
            }

        }
    }
}

