<div 
    class="main"
    [class.box-shadow] = 'show'
    [class.mb-1] = 'show'
>
    <ul  class="panel" [class.panel-show] = 'show'>
        <li 
            *ngFor = 'let opt of options;trackBy:trackByFn'
            class="panel__option"
        >
            <button
                class="arrow-btn"
                [disabled] = 'isDisabled(opt.id)'
                (click) = 'step("prev", opt.id)'
            >
                <span 
                    class="material-icons arrow" 
                    [matTooltip] = "getArrowTooltip(opt.id)"
                >arrow_left</span>
            </button>
            <span 
             class="title">{{ opt.title }}:</span>
            <span 
                class="value"
                [@.disabled] = 'animationType !== opt.id'
                [@ANTranslateState] = 'animationState'
                (click) = 'openState(opt.id)'
            >{{ date | date:opt.state.pattern:null:'ru' | titlecase }}</span>
            <button class="arrow-btn">
                <span 
                class="material-icons arrow" 
                (click) = 'step("next", opt.id)'
                >arrow_right</span>
            </button>

        </li>
    </ul>
    <div class="date">
        <p class="date-text">{{ date | date:'dd MMM yyyy':null:'ru' }}</p>
        <p 
            class="trigger"
            matTooltipPosition = 'below'
            [matTooltip] = 'getPanelTooltip()'
            (click) = 'showPanel()'
        > 
            <span class='trigger-text'>Изменить дату</span>
            <i 
                class='material-icons trigger-icon'
                [class.trigger-icon-rotate] = 'show'
            >keyboard_arrow_down</i>
        <p>
    </div>

</div>
