@import 'assets/scss/animations.scss';

.main {
    transform: translateX(-100%);
    animation: an-ladder-x .3s linear forwards;

    .content {
        
        .form {
            display: flex;
            flex-direction: column;

            &__control {
                flex-grow: 1;
                margin: .5rem 0;

                .password {
                    cursor: pointer;
                }
            }

            .actions {
                padding-top: 1.5rem;
            }
        }
    }
}