<div class="main">
    <div class="content">
        <form class="form" [formGroup] = 'form'>
            <dp-form-input 
                class="form__control"
                formControlName = 'Login'
                label = 'Логин'
                placeholder = 'Введите email'
            ></dp-form-input>
            <dp-form-input 
                class="form__control"
                formControlName = 'Password'
                label = 'Пароль'
                placeholder = 'Введите пароль'
                type = 'password'
                [minlength] = 'lengths?.min.Password'
                [maxlength] = 'lengths?.max.Password'
                [hideHint] = 'true'
                [lengthHint] = 'true'
            ></dp-form-input>
            <div class="actions">
                <dp-form-submit-btn
                    text = 'Войти'
                    [disabled] = 'form.invalid || flags.isLoginReq'
                    [showLoader] = 'flags.isLoginReq'
                    (action) = 'login()'
                ></dp-form-submit-btn>
            </div>
        </form>
    </div>
</div>
