<div class="wrapper" id = 'wrapper'>
    <dp-app-toolbar 
        [user] = 'authViewService.user$ | async'
        (logout) = 'authViewService.logout()'
    ></dp-app-toolbar>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div>