@import 'styles.scss';

.main {

    .content {
        width: 100%;

        .outlet {
            overflow-x: hidden;
            border-radius: $radius;
            border-top-left-radius: 0px;
            @include gradient-border($facebook, 3px);
        }
    }
}