<div class="main">
    <div class="content">
        <dp-dayli-planner-nav></dp-dayli-planner-nav>
        <div class="outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>