@import 'styles.scss';

.main {
    border-radius: 12px;
    overflow: hidden;
    transform: translateX(100%);
    animation: an-ladder-x .3s linear forwards;

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__input {
            min-width: 200px;
            margin: 1rem 0;
        }
    }

    .actions  {
        display: flex;
        justify-content: center;

        &__btn {    
            margin: 1rem .5rem 0;
        }
    }

    .successfully {
        width: 100%;
        text-align: right;
        font-family: $amatic;
        letter-spacing: 2px;
        font-size: 1.2rem;
        margin: 1.5rem 0;
        @include gradient-font($terminal);
    }

    .submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        &__btn {
            
            &:first-child {
                margin: 0 auto 1rem;
            }

            &:last-child {
                width: 100%;
                display: block;
                margin-bottom: 0 auto 1rem;
            }
        }
    }
}