<div class="main">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="credentialForm">
      <form [formGroup]="credentialForm">
        <ng-template matStepLabel>Учетные данные</ng-template>
        <div class="controls">
          <dp-form-input
            class="controls__input"
            formControlName = 'Login'
            label = 'Логин'
            placeholder = 'Введите логин'
            [customHint] = 'credentialForm.get("Login").pending'
          >
            <dp-spinner-message [diameter] = '20'>
              <span class="spinner-message">Проверка на совпадение</span>
            </dp-spinner-message>
          </dp-form-input>
          <dp-form-input
            class="controls__input"
            formControlName = 'Name'
            label = 'Имя'
            placeholder = 'Введите имя'
            [minlength] = 'lengths.min.Name'
            [maxlength] = 'lengths.max.Name'
            [lengthHint] = 'true'
          ></dp-form-input>
        </div>
        <div class="actions">
          <button
            class="actions__btn p-x-2"
            mat-raised-button
            matStepperNext
            color="accent"
            [disabled]="getCredentialErrorStatus()"
          >
            Дальше
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm">
      <form [formGroup]="passwordForm">
        <ng-template matStepLabel>Пароль</ng-template>
        <div class="controls">
          <dp-form-input 
              class="controls__input"
              formControlName = 'Password'
              label = 'Пароль'
              placeholder = 'Введите пароль'
              type = 'password'
              [minlength] = 'lengths?.min.Password'
              [maxlength] = 'lengths?.max.Password'
              [hideHint] = 'true'
              [lengthHint] = 'true'
              [trim] = 'false'
          ></dp-form-input>
          <dp-form-input 
              class="controls__input"
              formControlName = 'EqualPassword'
              label = 'Пароль'
              placeholder = 'Повторите пароль'
              type = 'password'
              [minlength] = 'lengths?.min.Password'
              [maxlength] = 'lengths?.max.Password'
              [trim] = 'false'
              [hideHint] = 'true'
              [lengthHint] = 'true'
              [customHint] = 'showEqualMessage()'
          >
            <span class="error-message">Пароли не совпадают</span>
          </dp-form-input>
        </div>

        <div class="actions">
          <button 
            class="actions__btn p-x-2"
            mat-raised-button 
            matStepperPrevious
        >Вернуться</button>
          <button
            mat-raised-button
            class="actions__btn p-x-2"
            color="accent"
            matStepperNext
            [disabled]="getPasswordErrorStatus()"
          >
            Дальше
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Подтверждение</ng-template>
      <p class="successfully">Форма заполнена успешно.</p>
      <div class="submit">
        <button 
          class="submit__btn p-x-2"
          mat-raised-button 
          matStepperPrevious
        >Вернуться</button>
        <dp-form-submit-btn
          class="submit__btn"
          text="Зарегистрироваться"
          bgColor="#ff4081"
          [disabled]="getSubmitStatus()"
          [showLoader]="flags.isRegistrationReq"
          (action)="registration()"
        ></dp-form-submit-btn>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
