@import 'styles.scss';

:host {
    @include host-center();
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 280px;
    width: 100%;

    .close {
        align-self: flex-end;
        transform: translate(100%, -1rem);
    }

    .content {
        display: flex;
        flex-direction: column;
        background: $clouds;
        border-radius: $radius;
        width: 100%;
        padding: 1.5rem 1rem;

        .nav {
            width: 100%;
            display: flex;
            cursor: pointer;
            padding: 1rem 0;
            font-family: $jost;
            align-items: center;
            border-radius: 8px;
            transition: background .3s linear, padding .3s ease-in-out;

            &:hover {
                
                background: $heart;
            }

            &__text {
                display: flex;
                align-items: center;
                @include gradient-font($main-theme);
                

                i {
                    margin: 0 .5rem;
                }
            }

            &.year {
                justify-content: flex-end;

                &:hover {
                    padding-right: 1rem;
                }
            }

            &.month {
                justify-content: flex-start;

                &:hover {
                    padding-left: 1rem;
                }
            }
        }

        .change-period {
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            transition: transform .3s linear, box-shadow .3s linear;

            .period-btn {
                display: flex;
                margin: 0;
                padding: 0;
                height: 30px;
                width: 30px;
                border: none;
                outline: none;
                border-radius: 50%;
                background: transparent;
                user-select: none;
                position: relative;
                z-index: 2;
                padding: .2rem;
                cursor: pointer;
                transition: transform .3s linear;
                @include gradient-font($blush);

                &:hover {
                    @include gradient-font($terminal);
                    transform: scale(1);
                }

                &:active {
                    transform: scale(.8);
                    @include gradient-font($netflix);
                }

                &:disabled {
                    cursor: not-allowed;
                    @include gradient-font($lizard);
                }

                // &:disabled > &-arrow {
                //     @include gradient-font($lizard);
                // }
            }
        }

        .list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-self: center;
            flex-wrap: wrap;
            margin: 0 -2rem;

            &__item {
                display: flex;
                position: relative;
                border-radius: 4px;
                padding: .8rem 1rem;
                margin: 1rem;
                width: calc(100% / 12 * 3 - 2rem);
                background: $main-theme;
                transition: box-shadow .3s linear;
                font-weight: bold;
                cursor: pointer;

                &-badge {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                }

                &-text {
                    font-family: $jost;
                    margin: auto;
                    @include gradient-font($clouds);

                    &.disabled-text {
                        @include gradient-font($amin);
                    }
                }

                &.current {
                    background: $facebook;
                }

                &.selected {
                    background: $terminal;
                }

                &:hover {
                    background: $orange;
                    @extend .box-shadow;
                }

                &.disabled {
                    background: $clouds;
                    cursor: not-allowed;
                }
            }
        }
    }
}