<div class="main">
    <div class="close">
        <i class="material-icons close-icon icon" (click) = 'hide()'>close</i>
    </div>
    <div class="content box-shadow">
        <nav class="nav" (click) = 'setState()' [ngClass] = 'getNavClass()'>
           <p class="nav__text" [innerHTML] = 'getStateHtml()'></p>
        </nav>
        <div  class="change-period" [@ANHeight] = 'type === "year" ? "open" : "close"'>
            <button 
                class="period-btn"
                (click) = 'changePeriod("prev")'
                [disabled] = 'isDisabled()'
                matTooltip = 'Пердыдущий период'
            >
                <i class="material-icons period-arrow"
                >arrow_back_ios</i>
            </button>
            <button 
                class="period-btn"
                matTooltip = 'Следующй период'
                (click) = 'changePeriod("next")'
            >
                <i class="material-icons period-arrow"
                >arrow_forward_ios</i>
            </button>
        </div>
        <ul class="list">
            <li 
                *ngFor = 'let opt of options;trackBy:trackByFn'
                class="list__item an-item"
                [class.current] = 'opt.current'
                [class.disabled] = 'opt.disabled'
                [class.selected] = 'opt.selected'
                [matTooltip] = 'getTooltip(opt)'
                (click) = 'change(opt)'
            >
                <span class="list__item-text" [class.disabled-text] = 'opt.disabled'>
                    {{ type === 'year' ? opt.value : opt.title }}
                </span>
                <dp-badge
                    *ngIf = 'opt.stats?.NotesCount'
                    class="list__item-badge"
                    [tooltip] = 'getBadgeTooltip(opt.stats.NotesCount)'
                    [text] = 'opt.stats.NotesCount'
                ></dp-badge>
            </li>
        </ul>
    </div>
</div>

