@import 'styles.scss';

:host {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;

    .close {
        transform: translate(100%, -1rem);
        align-self: flex-end;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: 1rem;
        background: $clouds;
        border-radius: $radius;
        @extend .box-shadow;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                font-family: $amatic;
                font-size: 1.3rem;
                letter-spacing: 2px;
                padding-bottom: .3rem;
                @include gradient-font($sin-city);
            }

            &-date {
                font-size: .8rem;
                font-family: $jost;
                @include gradient-font($terminal);
            }
        }
    
        .form {
            width: 70%;
            min-width: 250px;
            flex-grow: 1;
        }
    }
}