<div class="main">
    <div class="close"
        matTooltip = 'Закрыть'
        (click) = 'hide()'
    >
        <i class="material-icons close-icon">close</i>
    </div>
    <div class="content">
        <h1 class="header">
            <span class="header-title">{{ getTitle() }}</span>
            <span class="header-date">
                ({{ currentDate | date:'mediumDate':null:'ru' }})
            </span>
        </h1>
        <div class="form">
            <dp-dayli-planner-note-form
                [request] = 'request'
                [note] = 'note'
                (hide) = 'hide($event)'
                (submit) = 'submit($event)'
            ></dp-dayli-planner-note-form>
        </div>
    </div>
</div>
