<div class="main">
    <mat-form-field appearance="fill" class="control">
        <mat-label>{{ label }}</mat-label>
        <!-- [matAutosizeMinRows] = "minRows" -->
        <textarea 
            class="textarea"
            matInput 
            [cdkTextareaAutosize] = 'true'
            [cdkAutosizeMinRows] = "minRows"
            autocomplete="off"
            [placeholder]="placeholder"
            [errorStateMatcher]="errorMatcher"
            [minlength] = 'minlength'
            [maxlength] = 'maxlength' 
            [ngModel] = 'value'
            (ngModelChange) = 'setValue($event)'
        ></textarea>
        <mat-hint align ='end' *ngIf = 'lengthHint'>
            {{ value?.length || 0 }} / {{ maxlength }}
        </mat-hint>
        <mat-hint align ='start' *ngIf = 'customHint'>
            <ng-content></ng-content>
        </mat-hint>
        <mat-error *ngIf = 'ngControl?.errors'>
            <mat-error *ngFor = 'let error of ngControl.errors | keyvalue'>
                {{ getErrorMessage(error) }}
            </mat-error>
        </mat-error>
    </mat-form-field>
</div>
