<div class="main">
    <form [formGroup] = 'form' class="form">
        <div class="form-control">
            <dp-form-input
                formControlName = 'Title'
                label = 'Название'
                placeholder = 'Введите название'
                [minlength] = 'lengths.min.Title'
                [maxlength] = 'lengths.max.Title'
                [lengthHint] = 'true'
            ></dp-form-input>
        </div>
        <div class="form-control">
            <dp-form-textarea
                formControlName = 'Description'
                label = 'Описание'
                placeholder = 'Описание заметки'
                [maxlength] = 'lengths.max.Description'
                [lengthHint] = 'true'
            ></dp-form-textarea>
        </div>
        <div class="form-control">
            <dp-form-select
                formControlName = 'Priority'
                label = 'Приоритет'
                placeholder = 'Выберите приоритет'
                [getOptionsStyle] = 'getOptionsStyle'
                [options] = 'priorityOptions'
            ></dp-form-select>
        </div>
        <div class="form-control">
            <dp-form-timepicker
                formControlName = 'DateInt'
            ></dp-form-timepicker>
        </div>
        <div class="actions">
            <dp-form-submit-btn
                [type] = '"button"'
                [disabled] = 'form.invalid || request || !form.touched'
                [showLoader] = 'request'
                (action) = 'onSubmit()'
            ></dp-form-submit-btn>
            <button 
                class="actions-reset"
                type = 'button'
                [disabled] = 'request'
                mat-button color="primary" 
                (click) = 'hide()'
            >Отменить</button>
        </div>
    </form>
</div>
