.main {
    .form {
        
        &-control {
            padding: 1rem 0;
        }
    
        .actions {
            display: flex;
            flex-direction: column;
            padding-top: 1.5rem;
    
            &-reset {
                margin-top: 1rem;
                align-self: center;
            }
        }
    }
}

