<div class="main"
    dpPageBreak
    [disabled] = 'flags.isFetchNotes' 
    (end) = 'expand()'
>
    <nav class="nav">
        <header class="header">
            <h1 class="header__title">
                <span class="header__title-text">Список заметок</span>
                <span class="header__title-date">{{ currentDate | date:'mediumDate':null:'ru' }}</span>
            </h1>
            <button 
                class="header__btn" 
                [disabled] = 'disabledCreate'
                (click) = 'modificateNote(null, "create")'
            >
                <i 
                    class="material-icons header__btn-icon"
                    [matTooltip] = 'getCreateTooltip()'
                >add_box</i>
            </button>
        </header>
    </nav>

    <ng-container *ngIf = 'notes$ | async as notes;else preloaderTpl' >
        <ul class="notes" *ngIf = 'notes.rows.length'>
            <dp-dayli-planner-note
                *ngFor = 'let note of notes.rows;trackBy:trackByFn'
                class="notes__item item"
                [note] = 'note'
                [disabled] = 'disabledCreate'
                [priorityTitle] = 'getNoteSettings("title", note.Priority)'
                [priorityColor] = 'getNoteSettings("color", note.Priority)'
                (edit) = 'modificateNote($event, "edit")'
                (remove) = 'addRemoveCandidate($event)'
                [removed] = 'state.removeIdsList.includes(note._id)'
            ></dp-dayli-planner-note>
        </ul>

        <p class="empty-message" *ngIf = '!notes.rows.length'>Список заметок пуст</p>

        <div *ngIf = 'flags.isFetchNotes' class="progress">
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
    </ng-container>

</div>

<dp-shadow 
    *ngIf = 'modeNote$ | async as note' 
    @ANParent
    (hide) = 'hideModeModal()'
>
    <dp-dayli-planner-mode-note
        @ANShowTranslateY
        [modeType] = 'state.noteModeType'
        [date] = 'currentDate'
        [request] = 'flags.isModeNote'
        [note] = 'note'
        (hide) = 'hideModeModal()'
        (create) = 'create($event)'
        (edit) = 'edit($event)'
    ></dp-dayli-planner-mode-note>
</dp-shadow>

<ng-template #preloaderTpl>
    <mat-spinner></mat-spinner>
</ng-template>

<dp-confirm
    *ngIf = 'state.removeNoteCandidate'
    [text] = 'getRemoveConfirmText(state.removeNoteCandidate)'
    [loading] = 'flags.isModeNote'
    (action) = 'remove($event)'
></dp-confirm>


