@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    padding: 1rem 1rem 1.5rem 1rem;
    animation: an-ladder-x 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    .nav {
        width: 100%;
        padding-bottom: 1.5rem;

        .header {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            &__title {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                flex-grow: 1;
                text-align: center;
                letter-spacing: 2px;


                &-text {
                    font-size: 1.7rem;
                    font-family: $underdog;
                    @include gradient-font($facebook);
                }

                &-date {
                    font-size: 1.1rem;
                    font-family: $jost;
                    font-weight: bold;
                    border-radius: 8px;
                    padding: .5rem .7rem;
                    margin: .5rem auto 0;
                    @extend .box-shadow;
                    @include gradient-font($haikus);
                }
            }

            &__btn:hover > &__btn-icon {
                
            }

            &__btn {
                @extend .reset-button;
                font-size: 1.7rem;

                i {
                    @include gradient-font($amin);
                    font-size: 1.7rem;
                }

                &:hover > i {
                    @include gradient-font($orange);
                }

                &:disabled > i {
                    cursor: not-allowed;
                    @include gradient-font($lizard);
                }
            }
        }
    }

    .notes {
        width: 100%;
        max-width: 600px;

        &__item {
            margin: 0.5rem 0;
        }
    }

    .progress {
        margin: 2rem 0;
        width: 100%;
    }
}