.main {
    display: flex;
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .7);
    overflow-y: auto;

    &.center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


