@import 'styles.scss';

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: $toolbar-height;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    z-index: $toolbar-z;
    background: $main-theme;

    &__logo {
        display: flex;
        align-items: baseline;
        padding: 1rem 0;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 2px;
        @include gradient-font($peach);

        &-text {
            font-size: 1.6rem;
            font-family: $flower;
        }

        &-icon {
            margin-left: 1rem;
            font-size: 1.4rem;
        }
    }

    &__nav {
        position: relative;

        &:hover > &-list {
            display: flex;
        }

        &:hover > &-icon {
            @include gradient-font($orange);
        }

        &-icon {
            cursor: pointer;
            font-size: 2rem;
            @include gradient-font($toad);
        }

        &-list {
            position: absolute;
            top: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            transform: translateX(25%);
            
            &-item {
                margin-top: .5rem;
                animation: an-ladder-x .4s linear forwards;

                @for $i from 1 to 3 {

                    &:nth-child(#{$i}) {
                        transform: translateY(-100% * $i);
                    }
                }

                &-icon {
                    cursor: pointer;
                    font-size: 1.5rem;

                    @include gradient-font($moss);

                    &:hover {
                        @include gradient-font($netflix);
                    }
                }
            }
        }
    }
}