<div class="main">
    <div class="main__logo" (click) = 'naviagate()'>
        <p class="main__logo-text">Daily Planner</p>
        <i class="material-icons main__logo-icon">date_range</i>
    </div>
    <nav class="main__nav">
        <i class="material-icons main__nav-icon">more_horiz</i>
        <ul class="main__nav-list">
            <li 
                *ngFor = 'let opt of options'
                class="main__nav-list-item"
                matTooltipPosition = 'before'
                [matTooltip] = 'opt.title'
                (click) = 'navigateTo(opt.link)'
            >
                <i 
                    class="material-icons main__nav-list-item-icon"
                    matRipple 
                >{{ opt.icon }}</i>
            </li>
        </ul>
    </nav>
</div>
