@import 'styles.scss';

.main {


    .title {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 2.3rem;
        font-family: $baloo;
        letter-spacing: 2px;
        @include gradient-font($blush);
    }
}
