<div class="main">
    <dp-analytics-charts
        *ngIf = '!flags.isFetch; else preloader'
        [yearData] = 'year$ | async'
        [monthData] = 'month$ | async'
        [yearOptions] = 'yearOptions'
        [yearSettings] = 'yearSettings'
        [monthSettings] = 'monthSettings'
        [disabled] = 'disabledForm()'
        [yearPeriod] = 'state.yearPeriodType'
        (setYearPeriod) = 'setYearPeriod($event)'
    ></dp-analytics-charts>
</div>

<ng-template #preloader>
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
