@import 'styles.scss';


.main {
    margin: 1rem 0;
    // animation: scale .4s linear;
    transition: box-shadow .3s linear, transform .3s linear, background-color .3s linear;

    &.active {
        transform: scale(1.1);
        background: $margo;
        @extend .box-shadow;
    }

    .note {
        width: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        transition: padding .3s linear;
     
        &__header {
             width: 100%;
             display: flex;
             justify-content: space-between;
             align-items: center;
             transition: padding .3s linear;
     
             &-title {
                 display: flex;
                 align-items: center;
                 flex-wrap: wrap;
     
                 &-text {
                     font-size: 1.1rem;
                     padding-left: 1rem;
                     font-family: $baloo;
                     @include gradient-font($blush);
                 }
     
                 &-time {
                     display: flex; 
                     align-items: center;
                     
     
                     .time-separate {
                         font-size: 2rem;
                         margin: 0 .7rem;
                         color: $primary;
                     }
     
                     &-item {
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: center;
                         height: 30px;
                         width: 30px;
                         border-radius: 8px;
                         font-weight: bold;
                         box-shadow: 0 0px 6px rgb(14, 176, 240), 0 3px 17px rgb(42, 206, 221);
                         @include gradient-font($amin);

                         &.disabled {    
                            box-shadow: 0 0px 6px rgba(0, 0, 0, 0.25), 0 3px 17px rgba(0, 0, 0, 0.25);
                         }
                     }
                 }
             }
     
             &-actions {
                 display: flex;
                 align-items: center;
     
                 &-btn:not(:last-child) > i {
                     @include gradient-font($facebook);
                 }
     
                 &-btn {
                     @extend .reset-button;
                     padding: .5rem;
     
     
                     &:hover:not(:disabled) > i {
                         @include gradient-font($orange);
                     }
     
                     &:disabled > i {
                         cursor: not-allowed;
                         @include gradient-font($lizard);
                     }
     
                     &:nth-child(2) {
                         margin: 0 .4rem;
                     }
     
                     &:last-child {
                         background: transparent;
     
                     }
     
                     &:last-child > i {
                         font-size: 2rem;
                         @include gradient-font($lizard);
                     }
     
                     &.open > i {
                         @include gradient-font($orange);
                     }
                 }
             }
        }
     
        &__details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;
            font-family: .8rem;

            .note__details-row {
                display: flex;
                flex-wrap: wrap;
                margin: .3rem 0;

                &-title {
                    padding-right: 1rem;
                    font-family: $spectral;
                    @include gradient-font($terminal);
        
                }

                &-text {
                    font-family: $neucha;
                    color: rgb(44, 43, 43);
                }
            }
        }
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}