<li class="main" [class.active] = 'isOpen()'>
    <dp-border-side [borderColor] = 'getBorderColor()'>
        <div class="note" [class.pb-05] = 'isOpen()'>
            <div class="note__header" [class.pb-05] = 'isOpen()'>
                <h5 class="note__header-title"> 
                    <p class="note__header-title-time">
                        <span class="note__header-title-time-item" [class.disabled] = 'disabled'>
                            {{ note.DateInt | date:'HH' }}
                        </span>
                        <span class="time-separate">:</span>
                        <span class="note__header-title-time-item" [class.disabled] = 'disabled'>
                            {{ note.DateInt | date:'mm' }}
                        </span>
                    </p>
                    <p class="note__header-title-text">{{ note.Title }} </p>
                </h5>
                <div class="note__header-actions">
                    <ng-container *ngIf = '!disabled; else archiveTpl'>
                        <button 
                            class="note__header-actions-btn" 
                            matTooltip = 'Редактировать'
                            matTooltipPosition = 'before'
                            (click) = 'edit()'
                        >
                            <i 
                                class="material-icons action-icon"
                            >create</i>
                        </button>
                    </ng-container>
                        <button 
                            class="note__header-actions-btn" 
                            matTooltip = 'Удалить'
                            [disabled] = 'removed'
                            (click) = 'remove()'
                        >
                            <i 
                                class="material-icons action-icon"
                            >delete_sweep</i>
                        </button>

                    <button 
                        class="note__header-actions-btn" 
                        matTooltip = 'Детали'
                        matTooltipPosition = 'after'
                        [class.open] = 'isOpen()'
                        (click) = 'open()'
                    >
                        <i 
                            class="material-icons action-icon"
                            [ngStyle] = 'getArrowStyle()'
                        >keyboard_arrow_up</i>
                    </button>
                </div>
            </div>
            <div class="note__details" [@ANHeight] = 'status'>
                <div class="note__details-row">
                    <p class="note__details-row-title">Приоритет:</p>
                    <p class="note__details-row-text" [style.color] = 'priorityColor'>
                        {{ priorityTitle }}
                    </p>
                </div>
                <div class="note__details-row">
                    <p class="note__details-row-title">Описание заметки:</p>
                    <p class="note__details-row-text" [ngStyle] = 'getDescriptionStyles()'>
                        {{ note.Description || "Описание отсутствует" }}
                    </p>
                </div>
            </div>
        </div>
    </dp-border-side>
</li>
<ng-template #archiveTpl>
    <p class="archive-message">Заметка в архиве</p>
</ng-template>




