<div class="main">
    <div class="content">
        <div class="options">
            <ul class="weekdays">
                <li 
                    *ngFor = 'let day of weekdays'
                    class="weekdays__item"
                >{{ day }}</li>
            </ul>
            <ng-container 
                *ngIf = 'flags.isSetDate;then progressTpl;else separateTpl'
            ></ng-container>
            
            <dp-dayli-planner-dates-list
                [loading] = 'flags.isSetDate'
                [weeks] = 'getOptions("date")'
                (change) = 'change($event)'
            ></dp-dayli-planner-dates-list>
        </div>
        <div class="change">
            <dp-dayli-planner-change-panel
                [show] = 'flags.isShowChangePanel'
                [options] = 'options'
                [disable] = 'state.disableChangeKey'
                [date] = 'date$ | async'
                [minDate] = 'getMinDate()'
                (showPanel) = 'showPanel($event)'
                (openState) = 'openState($event)'
                (step) = 'step($event)'
            ></dp-dayli-planner-change-panel>
        </div>
    </div>
</div>

<ng-template #separateTpl>
    <div class="separate"></div>
</ng-template>

<ng-template #progressTpl>
    <div class="progress">
        <mat-progress-bar class="progress-row" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>

<dp-shadow 
    *ngIf = 'getCurrentState()'
    @ANParent
    (hide) = 'resetCurrentState()'
>
    <dp-dayli-planner-calendar
        @ANShowTranslateY
        [options] = 'getCurrentOptions()'
        [type] = 'getCurrentStateType()'
        [minDate] = 'getMinDate()'
        (hide) = 'resetCurrentState()'
        (change) = 'change($event)'
        (changePeriod) = 'changePeriod($event)'
        (setState) = 'setCurrentState($event)'
    ></dp-dayli-planner-calendar>
</dp-shadow>