@import 'styles.scss';

.main  {
    transform: translateX(-100%);
    animation: an-ladder-x 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        .change {
            
        }

        .options {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 2rem;



            .weekdays {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-family: $jost;
                font-weight: 800;
                font-size: 1.2rem;
                letter-spacing: 2px;

                &__item {
                    flex-grow: 1;
                    text-align: center;
                    @include gradient-font($terminal);
                }
            }

            .separate {
                margin: 2rem;
                height: 4px;
                width: 130px;
                align-self: center;
                background: $amin;
            }
        }
    }
    
}