@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .progress-bar {
        width: 100%;
        height: 20px;
        animation: fade .3s ease-in-out;
    }

    .week {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
        transition: transform .4s linear;

        &.loading {
            transform: scale(.8);
        }

        &__item {
            display: flex;
            justify-content: center;
            position: relative;
            flex-grow: 1;
            text-align: center;
            font-size: 1rem;
  
            &-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                cursor: pointer;
                transition: box-shadow .3s ease-in-out;
                @include gradient-font($facebook);

                &:hover:not(.disabled) {
                    @extend .box-shadow;
                    @include gradient-font($orange);
                }

                &.selected {
                    box-shadow: 0 0px 6px green, 0 3px 17px lightseagreen;
                    @include gradient-font($terminal);
                }

                &.current {
                    font-weight: bold;
                    @include gradient-font($kyoto);
                }

                &.disabled {
                    cursor: not-allowed;
                    @include gradient-font($deep);
                }
            }

            &-badge {
                position: absolute;
                left: calc(50% + 15px);
                top: -20px;
            }
        }
    }
}