<div class="main">
    <ul 
        class="week" 
        *ngFor = 'let week of weeks'
        [class.loading] = 'loading'
    >
        <li 
            class="week__item" 
            *ngFor = 'let opt of week'
        >
            <span 
                class="week__item-text"
                [ngClass] = 'getDateClasses(opt)'
                [matTooltip] = 'getTooltips(opt)'
                (click) = 'change(opt)'
            >
                {{ opt.value }}
            </span>
            <dp-badge
                *ngIf = 'opt.stats?.NotesCount'
                class="week__item-badge"
                [tooltip] = 'getBadgeTooltip(opt.stats?.NotesCount)'
                [text] = 'opt.stats.NotesCount'
            ></dp-badge>
        </li>
    </ul>
</div>

