<div class="main">
    <div class="content">
        <div class="progress" *ngIf = 'disabled'>
            <mat-progress-bar class="progress-row"  mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="chart">
            <div class="chart__header">
                <h3 class="chart__header-text" [@ANScaleState] = 'yearPeriod'>{{ getYearTitle() }}</h3>
                <dp-form-select 
                    class="chart__header-control"
                    label = 'Период'
                    placeholder = 'Выберите период'
                    bindTitle = 'key'
                    bindValue = 'value'
                    [options] = 'yearOptions'
                    [formControl] = 'yearControl'
                    (ngModelChange) = 'setYearPeriod($event)'
                ></dp-form-select>
            </div>

            <div class="chart-box">
                <ngx-charts-bar-vertical
                    class = 'chart-box-item'
                    [results]="yearData"
                    [scheme]="yearSettings.colorScheme"
                    [legend] = 'true'
                    [legendTitle] = 'yearSettings.legendTitle'
                    [gradient]="yearSettings.gradient"
                    [xAxis]="yearSettings.showXAxis"
                    [yAxis]="yearSettings.showYAxis"
                    [legend]="yearSettings.showLegend"
                    [showXAxisLabel]="yearSettings.showXAxisLabel"
                    [showYAxisLabel]="yearSettings.showYAxisLabel"
                    [xAxisLabel]="yearSettings.xAxisLabel"
                    [yAxisLabel]="yearSettings.yAxisLabel"
                    [yAxisTicks] = 'getYearYAxisTicks()'
                    [yAxisTickFormatting] = 'getYAxisFormatting'
                    [xAxisTickFormatting] = 'getYAxisFormatting'
                >
                    <ng-template #tooltipTemplate let-model="model">
                        <p class="chart-box-item-label">Количество заметок за {{ model.name }} год: <br> 
                            <b>{{ model.value }}</b>
                        </p>
                    </ng-template>
                </ngx-charts-bar-vertical>
            </div>
            
        </div>
        <div class="chart">
            <div class="chart__header">
                <h3 class="chart__header-text">Статистика за последний месяц 
                    <i 
                        class="material-icons icon"
                        [matTooltip] = 'getQuestionTooltip()'
                    >live_help</i>
                </h3>
            </div>
            <div class="chart-box">
                <ngx-charts-line-chart
                    class="chart-box-item"
                    [results]="monthData"
                    [scheme]="monthSettings.colorScheme"
                    [schemeType] = 'monthSettings.schemeType'
                    [legend]="monthSettings.legend"
                    [showXAxisLabel]="monthSettings.showXAxisLabel"
                    [showYAxisLabel]="monthSettings.showYAxisLabel"
                    [xAxis]="monthSettings.xAxis"
                    [yAxis]="monthSettings.yAxis"
                    [xAxisLabel]="monthSettings.xAxisLabel"
                    [yAxisLabel]="monthSettings.yAxisLabel"
                    [timeline]="monthSettings.timeline"
                    [xAxisTickFormatting] = 'getXAxisDateTicks'
                    [yAxisTickFormatting] = 'getYAxisFormatting'
                >
                    <ng-template #tooltipTemplate let-model="model">
                        <p class="chart-box-item-label">
                            Количество заметок за {{ getMonthDateTooltip(model.name) }}: <br>
                            <b>{{model.value}}</b>
                        </p>
                    </ng-template>
                    <ng-template #seriesTooltipTemplate let-model="model">
                        <p class="chart-box-item-label">
                            {{ getMonthSeriesTooltip(model[0].name) }}: <br>
                            <b>{{ model[0].value }}</b> (заметок).
                        </p>
                    </ng-template>

                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>

