@import 'styles.scss';

.main {
    position: relative;

    .content {

        .progress {
            position: absolute;
            top: 0;
            left: 0;
        }

        .chart {
            display: flex;
            flex-direction: column;
            border-radius: $radius;
            padding: 1.5rem 0;
            margin-bottom: 4rem;
            @extend .box-shadow;

            &:first-child > .chart__header { 
                padding-left: 13.2rem;
            }

            &__header {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                @media (max-width: 930px) {
                    flex-direction: column;
                    padding-left: 0 !important;
                }

                &-text {
                    flex-grow: 1;
                    text-align: center;
                    font-weight: bold;
                    font-size: 2rem;
                    font-family: 'Neucha', cursive;
                    @include gradient-font($facebook);

                    @media (max-width: 930px) {
                            padding-bottom: 1rem;
                            flex-grow: 0;
                    }

                    i {
                        vertical-align: middle;
                        margin-left: 1rem;
                        @include gradient-font($hour);

                        &:hover {
                            @include gradient-font($orange);
                        }
                    }
    
                }

                &-control {
                    margin-left: auto;
                    margin-right: .7rem;

                    
                    @media (max-width: 930px) {
                        margin: 0 !important;
                    }
                
                }
            }

            &-box {
                width: 100%;
                position: relative;
                padding-top: 50%;
                min-width: 320px;

                &-item {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;

                    &-label {
                        @include gradient-font($clouds);

                        b {
                            font-size: 1.5rem;
                            @include gradient-font($facebook);
                        }
                    }
                }
            }
        }
    }
}